# =========================
# MAVEN / BUILD
# =========================
target/
.mvn/wrapper/maven-wrapper.jar
HELP.md

# =========================
# VARIÁVEIS DE AMBIENTE (CRÍTICO)
# =========================
.env
.env.*
!.env.example

# =========================
# SPRING BOOT / LOGS
# =========================
logs/
*.log
spring.log

# =========================
# JAVA COMPILED FILES
# =========================
*.class
*.jar
*.war
*.ear
*.nar

# =========================
# IDEs
# =========================

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

# =========================
# VS CODE
# =========================
.vscode/
!.vscode/extensions.json

# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

# =========================
# CERTIFICADOS / CHAVES
# =========================
*.pem
*.key
*.p12
*.jks
*.keystore

# .gitignore
.env
*.env
application-local.properties