DATABASE_URL=postgresql://postgres:YOUR-PASSWORD@db.hubezdadknhqafcmxlwf.supabase.co:5432/postgres


SECRET_KEY=chave-secreta-do-appbit-2026
ALGORITHM=HS256


NEXT_PUBLIC_API_URL=http://localhost:8000
