DATABASE_URL = postgresql://postgres.hubezdadknhqafcmxlwf:xh6bdwcSfgfz5a24@aws-0-eu-west-3.pooler.supabase.com:6543/postgres


SECRET_KEY = chave-secreta-do-appbit-2026
ALGORITHM = HS256


NEXT_PUBLIC_API_URL = http://localhost:8000/api